@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Identity
@using xTend.Service

@inject IUserDB Database
@inject NavigationManager NavigationManager

@namespace Halleninfo

<MyMudThemeProvider/>
<XTProviders/>

<MudLayout>
    <MudAppBar Elevation="0" Fixed=true class="header">

        @if (SessionService.User.IsAdmin()) {
            <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())"/>
        }
        else if (SessionService.IsLoggedIn && !SessionService.User.IsAdmin()) {
            <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" class="drawerMenuButtonMobile"/>
        }

        <a href="/Dashboard" style="color:white">
            <img src="images/logo.svg" alt="Halleninfo Logo" class="logo"/>
        </a>

        <MudSpacer/>

        <div class="navMenuDesktop">
            <NavMenu IsHeaderMenu/>
        </div>
    </MudAppBar>

    <MudDrawer @bind-Open="_drawerOpen" ClipMode="DrawerClipMode.Always" Elevation="2" Variant="DrawerVariant.Temporary" class="drawerMenu">
        <NavMenu/>
    </MudDrawer>

    <MudMainContent Style="margin:10px">
        @Body
    </MudMainContent>
</MudLayout>


@code {
    bool _drawerOpen = false;

    void DrawerToggle() {
        _drawerOpen = !_drawerOpen;
    }

}