@using xTend.Component

@namespace Halleninfo

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet"/>

    <XTIncludes/>
    
    <link rel="stylesheet" href="css/app.css?V=@(XTIncludes.Version)" />
    <link rel="stylesheet" href="css/default.css?V=@(XTIncludes.Version)" />
    <link rel="icon" type="image/png" href="favicon.ico" />
    
    <HeadOutlet/>
</head>


<body>
    <Routes @rendermode="InteractiveServer"/>
</body>

</html>


